/* header */
.fixedHead{
  display: flex;
  flex: none;
  flex-direction: column;
  position: fixed;
  width: 100%;
  background-color: white;
  justify-content: space-between;
  z-index: 1;
}

#headerTitle{
  display: flex;
  justify-content: center;
  background-color: white;
  font-size: 2.5rem;
  color: black;
  text-decoration: none;
}

.navBar{
  display: flex;
  flex-direction: row;
  height: 40px;
  width: 100%;

  background-color: white;
}

.nav{
  margin-right: 5px;
  margin-left: 5px;
  flex:1;
  text-align: center;
  background-color: white;
  padding-top: 5px;
  padding-bottom: 5px;
  align-self: center;
  font-size: 0.75rem;
  width:24%;
}

.navLink{
  text-decoration: none;
  color: black;
}

.nav:hover{
  color:white;
  background-color: lightgray;
}