/* footer */
.footer{
  display: flex;
  width: 100%;
  flex-direction: row;
  right: 0;
  bottom: 0;
  left: 0;
  padding:10px;
}

.foot{
  color: black;
  flex: 1;
  text-align: center;
  font-size: 0.75rem;
  padding:5px;
}

.footerLink{
  text-decoration: none;
  color:black;
}
